* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
}

.navlist {
    width: 50%;
    display: flex;
    /* background-color: black; */
    padding: 20px 20px;
}

.navlist li {
    list-style: none;
    padding: 10px 10px;
}

.search {
    width: 50%;
    text-align: right;

}

.nav-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 20%;
    border: 2px solid yellow;
    border-radius: 50pc;
}

.navlist li a {
    text-decoration: none;
    color: yellowgreen;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('Img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

#txtSearch {
    padding: 5px;
    font-size: 17px;
    border: 2px solid yellowgreen;
    border-radius: 2px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 70%;
    margin: auto;
    height: 80%;
}

.firstsction{
    height: 100vh;
}

.firsthalf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf img{
    width: 30%;
    padding: 0px 0px;
    border: 2px solid white;
    border-radius: 300px;
    display: block;
    margin: auto;
    display: flex;
    margin: auto;
}
.text-big{
    font-size: 30px;
}
.text-small{
    font-size: 15px;
}
.btn{
    padding: 8px 13px;
    margin: 7px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 15px;
    background-color: aquamarine;
    font-weight: bold;
    cursor: pointer;
}

.secright
{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    
}

.secleft
{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
}

.pars{
    padding: 175px;
}